body {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
}

.header_logo{

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
}